/confusion_matrix.png
/feature_importance.png
/fraud_rate_trend.png
/GNN_env
/health_insurance_linkanalysis
/random_forest_model.joblib
/scaler.joblib
/temp.ipynb
/temp.py
/train_model.py
/X_test.csv
/X_train.csv
/y_test.csv
/y_train.csv